
@{
    ViewData["Title"] = "Careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="Career-hero"> 

    <div class="hero-text">
        
        <h1 style="font-size:50px">Join Our Adventure-Driven Team</h1>
        
        <p>
            Explore a meaningful career where nature meets innovation.<br />
            Be part of a growing community eco-tourism experience in  Jamaica.
        </p>
        
        <button>AI Chatbot</button>

    </div>>
    
</div> 

<br /><br />

<div class="Career-about">
    
    <h1 style="font-size:20px;"><b>Our Values are rooted in perseveration and conservation of nature and culture and promotion of inclusivity.</b></h1>

    <br /> 

    <p>
        Our team is at the heart of our Vision and Mission. Whether you are guiding a river adventure,managing bookings, preparing local meals,   
        or coordinating community events, your voice matters. Every role contributes to a greater vision of innovative, environmentallysustainable 
        adventures and people empowerment.
    </p>

    <br />

    <p>
        Our team is at the heart of our Vision and Mission.  Whether you are guiding a river adventure, managing bookings,
        preparing local meals, or coordinating community events, your voice matters. Every role contributes to a greater vision 
        of innovative, environmentally sustainable adventures and people empowerment.
    </p>

    <br /> 

    <h1 style="font-size:20px;"><b>Our Commitment to Inclusivity</b></h1>

    <p>
        We are guided by our <b style="font-size:16px;">Inclusive Value Statement and Code of Conduct</b>, 
        which form the foundation of how we work, lead, and grow together.
    </p>

    <br />

    <h1><i style="font-size:20px;">“We welcome all who seek connection—with nature, with community, and with themselves.”</i></h1>

    <br /> 

    <h1 style="font-size:20px;">At Yardy, inclusion is not just policy—it is practice.</h1>

    <ul>
        <li><b style="font-size:16px;">Gender Equality:</b> We uphold gender-balanced hiring and leadership. </li>
        <li><b style="font-size:16px;">Access for Persons with Disabilities:</b> We strive to create accessible experiences 
            for both guests and team members with physical, sensory, or cognitive differences. Where there are limitations, 
            we offer clear communication and personalized assistance.</li>
        <li><b style="font-size:16px;">Community Collaboration:</b>We engage with local residents and organizations to create employment, 
            cultural expression, and shared success.</li>
        <li><b style="font-size:16px;">Respectful communication</b>is expected across all roles—from front-line to management.</li>
        <li>We foster awareness of<b style="font-size:16px;">cultural values,</b>particularly within Jamaica’s rich and diverse social fabric.</li>
        <li><b style="font-size:16px;">Training & Growth:</b>We support all team members through -Gender equity and inclusion workshops - Training on 
            interacting with guests of all abilities - Leadership pathways for women, youth, and rural talent</li>
        <li><b style="font-size:16px;">Balanced Code of Conduct: zero-tolerance policy</b>for harassment, abuse, or intimidation of any form</li>
    </ul>

</div>

<br /><br />

